* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #fafaf8;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 11px;
  height: 90px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > h1 {
  font-weight: 400;
  color: #1b1b1b;
}

header > img {
  width: 50px;
}

main {
  padding: 45px 30px 10px;
}
.add-ingredient-form {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 12px;
  height: 38px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form > button {
  font-family: Inter, sans-serif;
  color: white;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  width: 150px;
  font-size: 0.875rem;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}
